<article class="card my-3 posts shadow-lg border-2 border-primary">
    <a href="api/posts/{{id}}">
    <div data-id = {{id}} class="card-header d-flex align-items-center justify-content-between">
        <h2>{{postTitle}}</h2>
        <p class="post-date">Created by {{user.userName}} on {{format_date createdAt }}</p>
    </div>
    <div class="card-body">
        <p>{{postText}}</p>

    {{#if comments}}
    <div class="comment-box">
     {{#each comments as |comment|}}
     <p class="comment-user">{{comment.user.userName}}</p>
     <p class="comment-text">{{comment.commentText}}</p>
     {{/each}}
    </div>
    {{/if}}
    </div>
    </a>
</article>
<script src="javascript/individual-post.js"></script>