<article class="card my-3 posts shadow-lg border-2 border-primary w-100">
    <div data-id = {{post.id}} class="card-header d-flex justify-content-between">
        <h2>{{post.postTitle}} <span class="text-danger">(Editing)</span></h2>
        <div class="">
        <i class="bi bi-person-circle pb-1 d-inline"></i>
        <p class="d-inline post-date"> {{post.user.userName}} on {{format_date post.createdAt }}</p>
        {{#if loggedIn}}
        <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-sm m-1 save">Save post</button>
        <button class="btn btn-danger btn-sm m-1 delete"><i class="bi bi-trash-fill"></i></button>
        </div>
        {{/if}}
        </div>
    </div>
    <div class="card-body">
        <textarea class="post-content w-100 p-1">{{post.postText}}</textarea>

    {{#if post.comments}}
    <div class="comment-box">
     {{#each post.comments as |comment|}}
     <div data-id="{{comment.id}}"class="individual-comment d-flex justify-content-between align-items-center mt-2">
        <div>
            <i class="bi bi-person-circle d-inline"></i>
            <p class="comment-user d-inline">{{comment.user.userName}}</p>
            <p class="comment-text">{{comment.commentText}}</p>
        </div>
        <div>
            <i class="delete-comment bi bi-trash-fill p-4"></i>
        </div>
     </div>
     {{/each}}
    </div>
    {{/if}}
    </div>
</article>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/delete-comment.js"></script>
<script src="/javascript/update-post.js"></script>