
<div class="d-flex justify-content-center">
    <article class="card my-3 posts">
        <div class="card-header d-flex align-items-center justify-content-between">
            <p class="fs-4 p-1 m-0">{{post.postTitle}}</p>
            <p class="post-date"><span><i class="bi bi-person-circle avatar"></i></span>{{post.user.userName}} on {{format_date post.createdAt }}</p>
        </div>
        <div class="card-body">
            <p class="mb-5">{{post.postText}}</p>
            {{#if post.comments}}
            <p class = "mb-0" style="font-size: 0.75rem">Comments:</p>
            <div class="comment-box">
                {{#each post.comments as |comment|}}
                <p class="comment-user d-inline-block">{{comment.user.userName}}</p>
                <span class="comment-date">{{format_date comment.createdAt}}</span>
                <p class="comment-text">{{comment.commentText}}</p>
                {{/each}}
            </div>
            {{/if}}
            {{#if loggedIn}}
            <form>
                <label for="adding comments" class="mt-2">Add a comment:</label>
                <input type="text" style="color:#9F9F9F;" class="add-comment form-control mt-2 mb-2 w-100">
                <button class="btn comment-submit w-100">Add comment</button>
            </form>
            {{/if}}
        </div>
    </article>
</div>
<script src="/javascript/comments/add-comment.js"></script>